body{
	font-size: 1em;
	font-family: "Arail","Microsoft YaHei","SimSun";
}

.inner_c{
	width: 1170px;
	margin: 0 auto;
}
.header{
	overflow: hidden;
	background-color: white;
	_zoom:1;
}
.logo{
	float: left;
	padding-top:10px;
	padding-left: 20px;
}
.logo h1{
	width: 164px;
	height: 36px;
	background: url(../images/logo.png) no-repeat 0 0;
	text-indent: -999em;
	overflow: hidden;
}
.logo h1 a{
	display: block;
	height: 36px;
}
.header .nav{
	width: 80%;
	float: right;
	display: block;
}
.header .nav ul{
	list-style: none;
}
.header .nav ul li{
	float: left;
	width: 12%;
	height: 58px;
}
.header .nav ul li.first a{
	color: #0075C2;
}
.header .nav ul li a{
	display: block;
	height: 58px;
	text-align: center;
	line-height: 58px;
	text-decoration: none;
	color: #333;
}
.header .nav ul li a:hover{
	color: #0075C2;
}
.banner{
	height: 567px;
	position: relative;
	overflow: hidden;
	display: block;
}
.banner ul li{
	position: absolute;
	width:100%;
	height: auto;
	top: 0;
	left: 0;
	opacity: 0;
	text-align: center;
}
.banner ul li.first{
	opacity: 1;
}
.banner img{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
}
.banner .circles{
	position: absolute;
	width: 94px;
	height: 12px;
	top: 95%;
	left: 0;
	right: 0;
	margin: auto;
}
.banner .circles ol{
	list-style: none;
}
.banner .circles ol li{
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 1px;
	border-radius: 50%;
	background-color: white;
	opacity: 0.5;
	cursor: pointer;
}
.banner .circles ol li.cur{
	opacity: 1;
}
.banner .left,.banner .right{
	width: 43px;
	height: 43px;
	position: absolute;
	top: 45%;
	text-align: center;
	line-height: 43px;
	color: white;
	font-size: 3em;
	opacity: 0.5;
	cursor: pointer;
}
.banner .left{
	left: 10px;
}
.banner .right{
	right: 10px;
}
.product{
	padding-top: 50px;
	height: 493px;
}
.product .title h6{
	color: #0075C2;
	font-size: 1em;
	text-align: center;
}
.product .title h2{
	text-align: center;
	font-size: 2.25em;
	color: #4e4e4e;
	margin-top: -15px;
}
.product ul{
	list-style: none;
}
.product ul li{
	float: left;
	text-align: center;
	width: 250px;
	margin-top: 55px;
	margin-right: 40px;
}
.product ul li a{
	display: block;
	padding-bottom: 20px;
	text-decoration: none;
}
.product ul li a img{
	width: 150px;
	height: 140px;
	vertical-align: middle;
}
.product ul li a .img_png{
	display: inline;
}
.product ul li a .img_gif{
	display: none;
}
.product ul li a h2.c{
	color:#444866;
	line-height: 40px;
	display: block;
	margin: 35px 0 20px;
	text-align: center;
	font-weight: bold;
}
.product ul li:hover a h2.c{
	color: #0075C2;
}
.product ul li a:hover .img_png{
	display: none;
}
.product ul li a:hover .img_gif{
	display: inline;
}
.product ul li a h3.e{
	text-align: left;
	display: block;
	color: #787878;
	font-weight: 400;
	text-indent: 25px;
	font-size: 1em;
}
.maps{
	padding-top: 50px;
	position: relative;
}
.maps .title h6{
	color: #0075C2;
	font-size: 1em;
	text-align: center;
}
.maps .title h2{
	text-align: center;
	font-size: 2.25em;
	color: #4e4e4e;
	margin-top: -15px;
}
.maps .map{
	text-align: center;
}
.maps .map img{
	width: 100%;
}
.bottom{
	height: 223px;
	background-color: #04091d;
	border-bottom: 2px solid #1b1e29;
}
.bottom .left{
	margin-top: 40px;
	text-align: left;
	width: 50%;
	float: left;
}
.bottom .left h3{
	color: white;
	font-size: 1.4em;
	font-weight: 400;
}
.bottom .left ul li{
	width: 72px;
	height: 32px;
	float: left;
	text-align: center;
	line-height: 32px;
	margin-top: 35px;
	margin-right: 20px;
}
.bottom .left ul li a{
	color: #ccc;
	font-size: 1.125em;
	display: block;
}
.bottom .left ul li a:hover{
	color: #428bca;
}
.bottom .right{
	float: right;
	text-align: center;
	width: 585px;
	margin-top: 40px;
}
.bottom .right h3{
	color: white;
	font-weight: 400;
	font-size: 1.4em;
	margin-right: 55px;
}
.bottom .right img{
	margin-top: 35px;
}
.footer{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #04091d;
}
.footer .left{
	color: #757F7F;
	font-size: 0.75em;
	float: left;
}
.footer .right{
	float: right;
	width: 435px;
	font-size: 0.75em;
}
.footer .right ul li{
	float: left;
	margin-left: 15px;
}
.footer .right ul li a{
	color: #757F7F;
}
.img img{
	width: 100%;
	height: 100%;
}
.content{
	margin-top: 37px;
}
.content .left{
	float: left;
	background-color: white;
	padding: 25px;
	padding-right: 50px;
}
.content .left h3{
	font-weight: 600;
	color: #333;
	font-size: 18px;
	padding-bottom: 10px;
}
.content .left ul li{
	font-size: 14px;
	padding: 16px 40px 16px 0;
	border-bottom: 1px solid #eee;
}
.content .left ul li.last{
	border-bottom: none;
}
.content .left ul li a{
	color: #333;
}
.content .left ul li.active a{
	color: #0075C2;
}
.content .right{
	overflow: hidden;
    font-weight: normal;
    padding: 20px 40px 45px;
    margin: 0 auto;
}
.content .right h2{
	margin: 28px 0;
	font-size: 26px;
	color: #333;
}
.content .right p{
	color: #999;
	line-height: 2;
	font-size: 16px;
	margin: 5px 0 20px;
	text-align: left;
}
.content .right .school{
	width: 80%;
	margin: 26px auto 30px;
}
.content .right .school img{
	width: 100%;
	height: 100%;
}
.chanpin{
	height: 1000px;
}
.chanpin .title{
	margin-bottom: 55px;
}
.chanpin ul li{
	width: 540px;
	height: 260px;
	margin-top: 0;
	text-align: center;
}
.chanpin ul li .left{
	float: left;
	width: 150px;
	height: 140px;
}
.chanpin ul li .left img{
	width: 150px;
	height: 140px;
}
.chanpin ul li .left .img_png{
	display: inline;
}
.chanpin ul li .left .img_gif{
	display: none;
}
.chanpin ul li:hover .left .img_png{
	display: none;
}
.chanpin ul li:hover .left .img_gif{
	display: inline;
}
.chanpin ul li .right{
	float: left;
	margin-left: 30px;
	width: 294px;
	text-align: left;
	font-size: 12px;
	color: #999;
}
.chanpin ul li .right .p1{
	color: #333;
	padding: 8px 0 26px 0;
	font-size: 16px;
	font-weight: 700;
}
.chanpin ul li:hover .right .p1{
	color: #0075C2;
}
.bottom .left ul li a.active{
	color: #0075C2;
}
.jingpin{
	text-align: center;
	margin-top: 50px;
}
.jingpin .title h6{
	color: #0075c2;
	font-size: 16px;
	margin-top: 0;
}
.jingpin .title h2{
	color: #333;
	font-size: 36px;
	margin-top: 0;
}
.jingpin .list{
	height: 790px;
	width: 100%;
	margin-top: 30px;
}
.jingpin .list ul li{
	width: 25%;
	height: 320px;
	padding: 20px;
	margin-right: 55px;
	margin-bottom: 30px;
	float: left;
	position: relative;
	cursor: pointer;
	transition: all 1s ease 0s;
	background-color: white;
}
.jingpin .list ul li:hover{
	box-shadow: 2px 2px 2px 2px #ccc;
}
.jingpin .list ul li img{
	width: 100%;
}
.jingpin .list .names{
	text-align: left;
	position: absolute;
	bottom: 30px;
}
.jingpin .list .names span{
	color: #999;
	font-size: 14px;
}
.jingpin .list .names p{
	color: #333;
	font-weight: 700;
	font-size: 20px;
}
.jingpin .pages{
	text-align: center;
	height: 60px;
	padding: 20px;
}
.jingpin .pages .spans{
	width: 250px;
	margin: 0 auto;
}
.jingpin .pages span{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-right: 5px;
	float: left;
	color: blue;
	cursor: pointer;
	border: 1px solid blue;
}
.jingpin .pages span.active{
	border: 1px solid #ccc;
	color: #ccc;
}