.logo{
	float: none;
	height: 50px;
}
.inner_c{
	width: 100%;
	margin: 0 auto;
}
.header .nav{
	width: 100%;
	margin-left: 0;
	display: none;
}
.header .nav ul li{
	width: 100%;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}
.header .nav ul li a{
	color:#333;
	text-align: center;
	font-size: 14px;
}
.header .btn{
	width: 34px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 14px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 10px;
	padding-top: 10px;
}
.header .btn span{
	display: block;
	width: 22px;
	height: 2px;
	margin-bottom: 4px;
	background-color: #333;
}
.banner .left,.banner .right{
	top: 15%;
}
.banner .circles{
	display: none;
}
.product ul li{
	width: 100% !important;
	margin-right: 0;
	text-align: center;
}
.product{
	margin-top: -330px;
	border: none;
	height: 1500px;
}
.chanpin ul li .left{
	width: 40%;
	float: left;
}
.chanpin ul li .right{
	width: 50%;
	float: right;
}
.bottom .left{
	width: 50%;
	text-align: center;
}
.bottom .right{
	width: 50%;
}
.footer .left{
	width: 50%;
	margin-top: -20px;
}
.footer .right{
	width: 50%;
	margin-top: -15px;
}
.content .left{
	float: none;
	width: 30%;
}
.content .right{
	width: 80%;
}
.chanpin{
	margin-top: 0;
	height: 1850px;
}
.jingpin .title{
	margin-top: 30px;
}
.jingpin .list{
	width: 100%;
	height: 1200px;
	text-align: center;
}
.jingpin .list ul li{
	width: 30%;
}